
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-light .navbar-nav .nav-link.active-link{
    color:var(--primary-color);
    font-weight: bold;
    text-decoration: underline;
}
.the-nav{
    background-color: rgb(23, 22, 22);
    padding: 20px 10px;

    .navbar-brand{
        color: #fff;
        font-size: 20px;
        font-weight: 500;
    }
    a{
        color:#fff;
        text-decoration: none;
        padding: 0px 5px;
        font-size: 18px;
    }
}
.navbar-toggler{
    border-color: white;
    color: white;
    background-color: white;
}
